@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - SantiyeOnMuh.WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    @*<link rel="stylesheet" href="~/SantiyeOnMuh.WebUI.styles.css" asp-append-version="true" />*@
@*</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                 @await Html.PartialAsync("_navbar")
            </div>
        </nav>
    </header>*@
    @*
    ORJİNAL
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SantiyeOnMuh.WebUI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    *@
@*    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SantiyeOnMuh.WebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>OSMAN ACAR İNŞAAT</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="w3-sidebar w3-bar-block w3-card bg-success" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button bg-info w3-large font-weight-bold"
                onclick="w3_close()">
            KAPAT &times;
        </button>

        <a href="/Admin/Index" class="w3-bar-item w3-button w3-padding"><i class="fas fa-university"></i>  ADMİN PANELİ</a>
        <br />
        <a href="/AnaSayfa/AnaSayfa" class="w3-bar-item w3-button w3-padding"><i class="fas fa-home"></i>  ANA SAYFA</a>
        <br />
        <a href="/Santiye/Index" class="w3-bar-item w3-button w3-padding"><i class="fas fa-snowplow"></i>  ŞANTİYELER</a>
        <br />
        <a href="/CariHesap/CariHesap" class="w3-bar-item w3-button w3-padding"><i class="fa fa-copy"></i>  CARİ HESAPLAR</a>
        <br />
        <a href="/BankaKasa/BankaKasa" class="w3-bar-item w3-button w3-padding"><i class="fas fa-cash-register"></i>  ANA KASA</a>
        <br />
        <a href="/Cek/Index" class="w3-bar-item w3-button w3-padding"><i class="fa fa-ticket"></i> ÇEKLER</a>
        <br />
        <a href="/Nakit/Index" class="w3-bar-item w3-button w3-padding"><i class="fa fa-turkish-lira"></i> NAKİT ÖDEMELER</a>
        <br />
        <a href="/CariGK/Index" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bookmark"></i>  CARİ KALEMLER</a>
        <br />
        @*<a href="/Sirket/Index" class="w3-bar-item w3-button w3-padding"><i class="fa fa-building-o"></i>  ŞİRKET</a>
        <br />
        <a href="/BankaHesap/Index" class="w3-bar-item w3-button w3-padding"><i class="fas fa-university"></i>  BANKA HESAPLARI</a>
        <br />
        <a href="/Kullanici/Index" class="w3-bar-item w3-button w3-padding"><i class="fas fa-user-cog"></i>  KULLANICILAR</a>
        <br />
        <a href="/Taseron/Index" class="w3-bar-item w3-button w3-padding"><i class="fas fa-handshake"></i> TAŞÖRENLER</a>
        <br />
        <a href="/Personel/Index" class="w3-bar-item w3-button w3-padding"><i class="fas fa-users"></i> PERSONELLER</a>*@
        <br />
        <br />
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fas fa-power-off"></i> ÇIKIŞ</a>
    </div>

    <div id="main">
        <div class="bg-info">
            <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
            <div class="w3-container text-white">
                <h1 style="color:black; text-align:center; vertical-align:middle; font-weight:bold">@ViewBag.Sayfa</h1>
            </div>
        </div>

        <div class="w3-container">
            @RenderBody()
            <p></p>
        </div>
    </div>

    <script>
        function w3_open() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }
    </script>

</body>
</html>
