@model BankaHesap
@{}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <br />
    <form asp-controller="BankaHesap" asp-action="BankaHesapGuncelle" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <br />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" asp-for="HesapAdi"></label>
            <div class="col-sm-5">
                <input asp-for="HesapAdi" class="form-control" />
                <span asp-validation-for="HesapAdi"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="BankaAdi"></label>
            <div class="col-sm-5">
                <input asp-for="BankaAdi" class="form-control" />
                <span asp-validation-for="BankaAdi"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="HesapNo"></label>
            <div class="col-sm-5">
                <input asp-for="HesapNo" class="form-control" />
                <span asp-validation-for="HesapNo"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="IbanNo"></label>
            <div class="col-sm-5">
                <input asp-for="IbanNo" class="form-control" />
                <span asp-validation-for="IbanNo"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <button class="col-sm-offset-2 col-sm-5 btn btn-success" type="submit">EKLE</button>
        </div>
    </form>
</body>
</html>