@model BankaHesap
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <br />
    <form asp-controller="BankaHesap" asp-action="BankaHesapEkleme" method="post">
        <br />
        <br />
        <div class="form-group">
            <div class="col-sm-2"><label for="HesapAdi">HESAP ADI:</label></div>
            <div class="col-sm-2"><input asp-for="HesapAdi" class="form-control" /></div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-sm-2"><label for="BankaAdi">BANKA ADI:</label></div>
            <div class="col-sm-2"><input asp-for="BankaAdi" class="form-control" /></div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-sm-2"><label for="HesapNo">HESAP NUMARASI:</label></div>
            <div class="col-sm-2"><input asp-for="HesapNo" class="form-control" /></div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-sm-2"><label for="IbanNo">IBAN NUMARASI:</label></div>
            <div class="col-sm-2"><input asp-for="IbanNo" class="form-control" /></div>
        </div>
        <br />
        <br />
        <div class="col-sm-offset-2 col-sm-6">
            <button class="btn btn-success">EKLE</button>
        </div>
    </form>
</body>
</html>
