@model CariHesap
@{}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <form asp-controller="CariHesap" asp-action="CariHesapEkleme" method="post">
        <div class="row">
            <div class="col form-group">
                <br />
                <input asp-for="Ad" class="form-control" placeholder="AD"/>
                <span asp-validation-for="Ad"></span>
                <br />
                <input asp-for="Adres" class="form-control" placeholder="ADRES" />
                <span asp-validation-for="Adres"></span>
                <br />
                <input asp-for="Telefon" class="form-control" placeholder="TELEFON" />
                <span asp-validation-for="Telefon"></span>
                <br />
                <input asp-for="VergiNo" class="form-control" placeholder="VERGİ NUMARASI" />
                <span asp-validation-for="VergiNo"></span>
                <br />
                <div asp-validation-summary="ModelOnly"></div>
                <select asp-for="SantiyeId"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.Santiye,"Id","Ad"))">
                </select>
                <br />
            </div>
            <div class="col form-group">
                <br />
                <input asp-for="IlgiliKisi" class="form-control" placeholder="İLGİLİ KİŞİ" />
                <span asp-validation-for="IlgiliKisi"></span>
                <br />
                <input asp-for="IlgiliKisiTelefon" class="form-control" placeholder="CEP TELEFONU" />
                <span asp-validation-for="IlgiliKisiTelefon"></span>
                <br />
                <input asp-for="Odeme" class="form-control" placeholder="ÖDEME TÜRÜ" />
                <span asp-validation-for="Odeme"></span>
                <br />
                <input asp-for="Vade" class="form-control" placeholder="VADESİ" />
                <span asp-validation-for="Vade"></span>
                <br />
                <div>
                    <button type="submit" class="col-sm-12 btn btn-success">EKLE</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>


