@model CariHesap
@{}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <br />
    <br />
    <div class="container">
        <form asp-controller="CariHesap" asp-action="CariHesapEkleme" method="post">
            <div class="row">
                <div class="col form-group">

                    <label asp-for="Ad"></label>
                    <input asp-for="Ad" class="form-control" />
                    <span asp-validation-for="Ad"></span>

                    <label asp-for="Adres"></label>
                    <input asp-for="Adres" class="form-control" />
                    <span asp-validation-for="Adres"></span>

                    <label asp-for="Telefon"></label>
                    <input asp-for="Telefon" class="form-control" />
                    <span asp-validation-for="Telefon"></span>

                    <label asp-for="VergiNo"></label>
                    <input asp-for="VergiNo" class="form-control" />
                    <span asp-validation-for="VergiNo"></span>

                </div>
                <div class="col form-group">

                    <label asp-for="IlgiliKisi"></label>
                    <input asp-for="IlgiliKisi" class="form-control" />
                    <span asp-validation-for="VergiNo"></span>

                    <label asp-for="IlgiliKisiTelefon"></label>
                    <input asp-for="IlgiliKisiTelefon" class="form-control" />
                    <span asp-validation-for="IlgiliKisiTelefon"></span>

                    <label asp-for="Odeme"></label>
                    <input asp-for="Odeme" class="form-control" />
                    <span asp-validation-for="Odeme"></span>

                    <label asp-for="Vade"></label>
                    <input asp-for="Vade" class="form-control" />
                    <span asp-validation-for="Vade"></span>

                    <label asp-for="SantiyeId">ŞANTİYE:</label>
                    <div asp-validation-summary="ModelOnly"></div>
                    <select asp-for="SantiyeId"
                            class="form-control"
                            asp-items="@(new SelectList(@ViewBag.Santiye,"Id","Ad"))">
                    </select>
                </div>
                <button class="col-sm-offset-2 col-sm-5 btn btn-success" type="submit">EKLE</button>
            </div>
        </form>
    </div>
</body>
</html>
