@model Santiye
@{}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <br />
    <form asp-controller="Santiye" asp-action="SantiyeGuncelle" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="Ad"></label>
            <div class="col-sm-5">
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2" asp-for="Adres"></label>
            <div class="col-sm-5">
                <input asp-for="Adres" class="form-control" />
                <span asp-validation-for="Adres"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <button class="col-sm-offset-2 col-sm-5 btn btn-success" type="submit">GÜNCELLE</button>
        </div>
    </form>
</body>
</html>