@model SantiyeKasaGK
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <br />
    <form asp-controller="SantiyeKasaGK" asp-action="SantiyeKasaGKGuncelle" method="post">
        <br />
        <input type="hidden" name="Id" value="@Model.Id" />
        <br />
        <div class="form-group">
            <div class="col-sm-2"><label for="Ad">GİDER KALEMİ ADI:</label></div>
            <div class="col-sm-2"><input asp-for="Ad" class="form-control" /></div>
        </div>
        <br />
        <br />
        <div class="col-sm-offset-2 col-sm-6">
            <button class="btn btn-success">GÜNCELLE</button>
        </div>
    </form>
</body>
</html>